a {
  transition: all 0.2s ease 0s;
  overflow-wrap: break-word;
  -webkit-user-drag: none;
}

hr {
  display: flex;
  position: relative;
  margin: 1rem 0;
  border: 1px dashed var(--anzhiyu-theme-op);
}

b,
strong {
  font-weight: bolder;
}

img {
  border-style: none;
  border-radius: 8px;
  max-width: 100%;
  transition: all 0.2s ease 0s;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}
