a {
  transition: all 0.2s ease 0s;
  overflow-wrap: break-word;
  -webkit-user-drag: none;
}

hr {
  display: flex;
  position: relative;
  margin: 1rem 0;
  border: 1px dashed var(--anzhiyu-theme-op);
}

b,
strong {
  font-weight: bolder;
}

img {
  border-style: none;
  border-radius: 8px;
  max-width: 100%;
  transition: all 0.2s ease 0s;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}

p {
  display: block;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1rem;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  appearance: button;
  -webkit-appearance: button;
}
