.card-widget {
  background: var(--anzhiyu-card-bg);
  box-shadow: var(--anzhiyu-shadow-black);
  border-radius: 12px;
  overflow: hidden;
  border: var(--style-border);
  transition: 0.3s;
  position: relative;
  &:hover {
    box-shadow: var(--anzhiyu-shadow-main);
  }
}
